[Desktop Entry]
Type=Application
Exec=path/to/welcomeBach/welcomeBach.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=welcomeBach
Name=welcomeBach
Comment[en_US]=
Comment=
