[Desktop Entry]
Type=Application
Exec=gnome-terminal -- bash -c 'cd $HOME/Documents/git/WelcomeBach && python3 bach.py'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_NG]=Terminal
Name=Terminal
Comment[en_NG]=Welcome Bach
Comment=Welcome Bach