[Desktop Entry]
Type=Application
Exec=gnome-terminal -- bash -c "cd /home/path/to/welcomeBach; ./welcomeBach.sh; cd; exec bash"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=welcomeBach
Name=welcomeBach
Comment[en_US]=
Comment=
